body {
    font-family: Arial, sans-serif;
    margin: 10px auto;
    color: white;
    border: 1px solid black;
    max-width: 1000px;
  }
  
  header {
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
  }

  footer {
    background-color: orangered;
    text-align: center;
    padding: 20px;
  }
  
  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .left-panel {
    background-color:rgb(178, 178, 178);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    gap: 10px;
  }
  
  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .top-bar, .main-content {
    display: flex;
    gap: 10px;
  }
  
  .box {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
  }